<!-- Start Navigation -->
<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.taliferro.com">
            <img src="https://www.taliferro.com/assets/images/taliferro-group-logo.png" alt="" width="48" height="48" class="d-inline-block align-text-top"> Taliferro Group </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.taliferro.com/#products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.taliferro.com/#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.taliferro.com/#about">About</a>
                </li>
            </ul>
            <span class="navbar-text"> 425.305.3748 </span>
        </div>
    </div>
</nav>
<!-- End Navigation -->