<div id="page" class="site">
  <!-- Start Header -->
  <header id="masthead" class="site-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg" style="background-color: white;">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.taliferro.com">
          <img src="https://www.taliferro.com/assets/images/taliferro-group-logo.png" alt="" width="48" height="48" class="d-inline-block align-text-top"> Taliferro Group </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="https://www.taliferro.com/#products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.taliferro.com/#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.taliferro.com/#about">About</a>
            </li>
          </ul>
          <span class="navbar-text"> 425.305.3748 </span>
        </div>
      </div>
    </nav>
    <!-- End Navigation -->
    <div class="container-fluid header-content-7 header-content-gradient">
      <div class="container header-container header-7">
        <div class="row">
          <div class="title-centered-content">
            <div class="col-md-6 header-text">
              <h1>Passwordless<br> Sign In</h1>
              <div class="title-desc">
                <p>Make sign-in and authentication for users and customers easy. Lift the barriers to web site entry. No password needed. Passwordless authentication is actually one of the most secure forms or
                  authentication.</p>
              </div>
              <ul class="header-nav-buttons">
                <li><a href="/verify" class="button button-white" title="Try It">Try It</a></li>
                <li><a href="#more" class="button button-white-border" title="Read More">Read More</a></li>
              </ul>
            </div> <!-- .header-text -->
          </div> <!-- .title-centered-content -->
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .container-fluid -->
  </header>
  <!-- End Header -->
  <a name="more"></a>
  <div id="content" class="site-content">
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        <section id="how-to-use---1" class="container-fluid section-block how-to-use">
          <div class="container">
            <div class="row">
              <h2>How It Works</h2>
              <div class="block-desc">
                <p>Never worry about security breaches again, security breaches are now someone else's worry because there are no passwords to be compromised. </p>
              </div>
              <!-- Block 1 -->
              <div class="col-md-4 how-to-block">
                <h3><span class="number"><span>1</span></span>Enter email address</h3>
                <p>Enter your email address in the identity verification box.</p>
              </div> <!-- .how-to-block -->
              <!-- Block 2 -->
              <div class="col-md-4 how-to-block">
                <h3><span class="number"><span>2</span></span>Check your email</h3>
                <p>You will receive an email asking you to verify your identity.</p>
              </div> <!-- .how-to-block -->
              <!-- Block 3 -->
              <div class="col-md-4 how-to-block">
                <h3><span class="number"><span>3</span></span>Click the link</h3>
                <p>In the email there will be a link (yes it does expire) simply click the link or copy the link to the browser address bar and hit return. That's It!</p>
              </div> <!-- .how-to-block -->
            </div> <!-- .row -->
          </div> <!-- .container -->
        </section>
        <section id="cta---1" class="container-fluid section-block cta bg-primary-color">
          <div class="container">
            <div class="row">
              <div class="col-md-12 cta-block cta-content-1 cta-button">
                <h2>Try it Out</h2>
                <p>Contact us to arrange a product demonstration. The best move you'll ever make.</p>
                <a href="tel:425.305.3748" class="button button-full">Request a Demo</a>
              </div>
            </div> <!-- .row -->
          </div> <!-- .container -->
        </section>
        <section id="faq---1" class="container-fluid section-block faq">
          <div class="container">
            <div class="row">
              <h2>Security</h2>
              <div class="block-desc">
                <p>One of our highest priorities is to ensure your privacy and peace of mind by employing some of the most advanced online security measures in the industry.</p>
              </div>
              <div class="col-md-6 faq-block">
                <h3>Data Transmission</h3>
                <p> We ensure state-of-the-art encryption of all data transmitted between your computer and our secure site. Most browsers today utilize an encryption method called Secure Sockets
                  Layer (SSL). </p>
              </div>
              <div class="col-md-6 faq-block">
                <h3>Easy to Use</h3>
                <p> Aren't you tired of jumping through hoops? Why is the security owness on the user? Just use an email address to jump from one application to another. We can show you how. </p>
              </div>
              <div class="col-md-6 faq-block">
                <h3>Secure Access</h3>
                <p> The only one that has access to login information is whoever has access to an email inbox, and 99% of the time that person is a single person. </p>
              </div>
              <div class="col-md-6 faq-block">
                <h3>Integration</h3>
                <p> Integrating with all the top the internet software products. More added weekly. </p>
              </div>
            </div> <!-- .row -->
          </div> <!-- .container -->
        </section>
      </main>
    </div>
  </div>
  <footer id="colophon" class="container-fluid site-footer footer-color">
    <div class="container footer-container site-top-footer">
      <div class="row">
        <div class="col-md-12 col-sm-12 bottom-footer">
          <div class="col-md-12 col-sm-12 copy-text">
            <p class="text-center">© Copyright Taliferro. Taliferro ® Is Registered In The U.S. Patent And Trademark Office. 425.305.3748. | <a href="https://www.taliferro.com/privacy-policy"
                style="color:aliceblue">Privacy Policy</a> | <a href="https://www.taliferro.com/terms-of-service" style="color:aliceblue">Terms of Service</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>